.main {
    background-color: $color-background;
}

.promo_content {
  display: inline-block;
  margin-bottom: 16px;
    p {
        margin:0  20px;
    }
    img {
        width: 320px;
        height: auto;
        border: 1px solid;
    }
}

.promo_content:nth-child(odd) img {
    float: left;
}

.promo_content:nth-child(even) img {
    float: right;
}
